.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.history/
.idea/vcs.xml
asyar.code-workspace
.vscode/settings.json
.github/copilot-instructions.md
.github/prompts/asyar.prompt.md
