{
  "id": "{{EXTENSION_ID}}",
  "name": "{{EXTENSION_NAME}}",
  "version": "1.0.0",
  "description": "{{EXTENSION_DESC}}",
  "author": "Developer",
  "main": "dist/index.js",
  "searchable": true,
  "type": "view",
  "defaultView": "DefaultView",
  "commands": [
    {
      "id": "open",
      "name": "Open {{EXTENSION_NAME}}",
      "description": "{{EXTENSION_DESC}}",
      "resultType": "view"
    }
  ]
}
